body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #121212;
    color: white;
}

.container {
    width: 60%;
    margin: 80px auto;
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-bottom: 30px;
}

textarea {
    width: 100%;
    height: 160px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    resize: none;
    margin-bottom: 20px;
    font-size: 15px;
}

select {
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 15px;
}

button {
    padding: 12px 25px;
    background: #ff4b2b;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #ff416c;
}

.result {
    margin-top: 25px;
    padding: 20px;
    border-radius: 10px;
    font-size: 18px;
}

.Real {
    background: #1e4620;
    border: 2px solid #4caf50;
}

.Fake {
    background: #4a1c1c;
    border: 2px solid #f44336;
}